*{padding: 0;margin: 0;box-sizing: border-box;}

a {
    position: relative;
    display: inline-block;
    transition: all 500ms ease;
    text-decoration: none;
    &:hover, a:visited {
        text-decoration: none;
        outline: none;
    }
}
ul, ul li{list-style: none;}
img{max-width: 100%;}

@include attr-x('margin-top', 10, 10, 'px');
@include attr-x('margin-bottom', 10, 10, 'px');

.pg-detail{
    display: block;
    width: 100%;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    h1, h2, h3{
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 10px;
        clear: both;
    }
    h4, h5{
        font-weight: 400;
    }
    h1{font-size: 2em;color: $main_color;}
    h2{font-size: 1.5em;color: $main_color;}
    h3{font-size: 1.2em;}
    h4{font-size: 1em;font-style: italic;}
    h5{font-size: 0.9em;}
    p{margin-bottom: 10px !important;}
    a{text-decoration: none;}
    strong{font-weight: bold;}
    img{
        margin-bottom: 20px;
        max-width: 100% !important;
        height: auto !important;
    }
    iframe#viewer-content{
        width: 100%;
        height: auto;
    }
    iframe{
        max-width: 100%;
    }
    table{
        ul{
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0px !important;
            line-height: 1.5;
        }
    }
    ul, ol{
        padding-left: 10px;
        li {
            position: relative;
            margin-bottom: 5px;
            &::before{
                content: "\f00c";
                font-family: FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                margin-right: 5px;
                color: $main_color;
            }
        }
    }
}
.pagination-wrapper .pagination>li>a:hover,
.pagination-wrapper .pagination>li>span:hover {
    background-color: $main_color;
}
.pagination-wrapper .pagination .active>a,
.pagination-wrapper .pagination .active>a:hover,
.pagination-wrapper .pagination .active>a:focus,
.pagination-wrapper .pagination .active>span,
.pagination-wrapper .pagination .active>span:hover,
.pagination-wrapper .pagination .active>span:focus{
    background-color: $main_color;
}
.social-share{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    a{
        padding: 5px !important;
    }
    li{
        display: inline-flex;
        padding: 0 5px;
        a{
            padding: 0;
            svg{
                height: 20px;
                width: 20px;
            }
        }
    }
}
.stretcher-wrapper{
    .stretcher{
        .stretcher-item{
            .stretcher-logo{
                .text{
                    img{
                        display: inline-block;
                        position: inherit;
                        left: 0;
                        top: 0;
                        transform: none;
                    }
                }
            }
        }
    }
}
.owl-icons-wrapper.owl-icons-frontpage{
    .owl-carousel{
        .owl-item{
            img{
                height: 100px;
                width: auto;
            }
        }
    }
    a {
        display: block;
    }
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{
    text-align: center;
}
.loading_savefie {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    div.loading_savefie_cnt {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;

        .lds-spinner {
            color: official;
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;

            div {
                transform-origin: 40px 40px;
                animation: lds-spinner 1.2s linear infinite;
            }

            div:after {
                content: " ";
                display: block;
                position: absolute;
                top: 3px;
                left: 37px;
                width: 6px;
                height: 18px;
                border-radius: 20%;
                background: #fff;
            }

            div:nth-child(1) {
                transform: rotate(0deg);
                animation-delay: -1.1s;
            }

            div:nth-child(2) {
                transform: rotate(30deg);
                animation-delay: -1s;
            }

            div:nth-child(3) {
                transform: rotate(60deg);
                animation-delay: -0.9s;
            }

            div:nth-child(4) {
                transform: rotate(90deg);
                animation-delay: -0.8s;
            }

            div:nth-child(5) {
                transform: rotate(120deg);
                animation-delay: -0.7s;
            }

            div:nth-child(6) {
                transform: rotate(150deg);
                animation-delay: -0.6s;
            }

            div:nth-child(7) {
                transform: rotate(180deg);
                animation-delay: -0.5s;
            }

            div:nth-child(8) {
                transform: rotate(210deg);
                animation-delay: -0.4s;
            }

            div:nth-child(9) {
                transform: rotate(240deg);
                animation-delay: -0.3s;
            }

            div:nth-child(10) {
                transform: rotate(270deg);
                animation-delay: -0.2s;
            }

            div:nth-child(11) {
                transform: rotate(300deg);
                animation-delay: -0.1s;
            }

            div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
            }
        }
    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.jconfirm.jconfirm-white .jconfirm-box,
.jconfirm.jconfirm-light .jconfirm-box {
    max-width: 500px;
}
.frm-comment{
    position: relative;
}
.frm_error{
    display: block;
    width: 100%;
    font-size: 0.8em;
    color: #ff0000;
    margin-top: 5px;
    font-style: italic;
    text-align: left;
}
.products{
    article{
        .text{
            .ranking_product {
                display: block;
                width: 100%;
                .fa{
                    margin-right: 2px;
                }
                .fa.active{
                    color: $main_color;
                }
            }
        }
    }
}
.item-tags{
    display: inline-block;
    margin-right: 5px;
}
.blog{
    .blog-post{
        .blog-post-text{
            img{
                margin-bottom: 0;   
            }
        }
    }
    .blog-info{
        ul{
            li{
                &>i.fa{
                    margin-right: 5px;
                }
            }
        }
    }
}
.detail-info-contact{
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    h3{
        display: block;
        font-size: 1em;
        margin-bottom: 5px;
        color: $main_color;
    }
    ul{
        display: block;
        width: 100%;
        margin-bottom: 0;
        li{
            display: block;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            span{
                width: 25px;
                display: inline-block;
                margin-right: 5px;
                i{
                    color: $main_color;
                }
            }
            a{
                display: inline-block;
                width: calc(100% - 30px);
            }
        }
    }
}